/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
	font:15px/1.3 'Open Sans', Arial, Helvetica, sans-serif;
	padding-bottom: 100px;
	background-color: #ff0B29;
}

a, a:visited {
	outline:none;
	color:#1000e8;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}


/*-------------------------
	Header & Titles
--------------------------*/


header{
	padding:20px;
	text-align: center;
}

header h1{
	padding-top:50px;
	font-size:52px;
	line-height:80px;
	color:#45bad3;
}

header h1 span.green{
	color:#61a64f;
}

header h1 span.red{
	color:#eb263a;
}

header h2{
	font-size: 18px;
	line-height: 1.3em;
	color:#f5f5f5;
	font-weight:bold;
}

header h2 span.green{
	color:#1000e8;
	font-size:24px;
}

h2.text{
	font-size:16px;
	color:#f5f5f5;
	text-align: center;
}

h2.footer{
	font-size:24px;
	color:#f5f5f5;
	text-align: center;
	font-weight:bold;
}
h2.tagline{
	font-size:20px;
	color:#f5f5f5;
	text-align: center;

}
h2.credits{
	font-size:12px;
	color:#f5f5f5;
	text-align: center;

}

h2.button{
	font-size:18px;
	color:#f5f5f5;
	text-align: center;
	font-weight:bold;
}

h2.caption{
	font-size: 20px;
	color:#f5f5f5;
	text-align: center;
	font-weight:500;
}

h2.standingsA{
	font-size: 16px;
	color:#f5f5f5;
	text-align: center;
	font-weight:500;
}

h2.standingsB{
	font-size: 20px;
	color:#f5f5f5;
	text-align: center;
	font-weight:500;
	font-weight:bold;
}

h3.text{
	font-size:20px;
	color:#1000e8;
	font-weight:bold;
	text-align: center;
}


h1,h2,h3{
	font-weight:300;
}


/*-------------------------
	The Tabs
--------------------------*/


nav{
	display:block;
	margin-top:20px;
	margin-bottom: 20px;
	text-align:center;
	font-size:18px;
}

nav a{
	display:inline-block;
	border-radius:3px;
	padding: 5px 15px;
	color:#f9f9f9 !important;
	font-weight:bold;
	text-decoration:none !important;
	text-transform: uppercase;

}

nav a.active{
	background-color:#1000e8;
	cursor:default !important;

}


/*-------------------------
	Photo and Buttons
--------------------------*/


body > img{
	display:block;
	margin:60px auto;
	border-radius: 3px;
}

.button-holder{
	margin:0 auto;
	text-align:center;
}

.button-holder form{
	display:inline-block;
}

.button-holder form input{
	cursor:pointer;
	border:0;
    padding-top: 100%;
    width: 100%;
    height: 0;
	color:#fff;
	font:inherit;
	border-radius:3px;
	margin:0 5px;
	font-size:24px;
	outline:none;
}

.button-holder form input:active{
	position:relative;
	bottom:-1px;
}

.button-holder form input:hover{
	opacity:0.9;
}

/* sammy */
.button-holder > form{
	width: 52%;
	margin: 0 auto 10px;
	max-width: 104px;
}

.photo{
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	background: #f6f6f6;
	padding: 1%;
    display: block;

}
[id*=post-form-]{
    position: relative;
    display: block;
}

[id*=post-form-]:after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	background-image: url('../img/voted.jpg');
    background-size: cover;
    transition: opacity .1s ease;
    opacity: 0;
}

[id*=post-form-].selected:after{
    opacity: 0.7;
}

img.photo{
	border-radius: 7px;
}

.input-left{
	background-image: url('../img/sprite.svg') #aadb9c 38px -86px no-repeat;
	width: 30%;
}

.input-right{
	background: url('../img/vote.png') no-repeat;
	background-size: cover;
	width: 30%;


}


/*-------------------------
	Standings List
--------------------------*/

.results img{
	max-width: 100%;
}

.percent{
    background-image: url(../img/vote.png);
    background-repeat: no-repeat;
    height: 96px;
    background-position: top left;
    padding: 31px 0 0 60px;
    width: 116px;
    margin: 30px auto 0 auto;
    background-size: 61%;
}

.percent, .rank{
	font-weight: bold;
	font-size: 24px;
	color: white;
}

.card{
	padding: 20px;
	background-color:#ecd7d7;
	border-radius:3px;
	position:relative;
	margin-bottom: 30px;
	text-align: center;
	display: inline-block;
}

.card-wrapper{
	text-align: center;
}

.ranking{
	font-weight: bold;
	color: white;
	font-size: 100px;
	text-align: center;
}

.vertically-centered{
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}



/*----------------------------
	The Demo Footer
-----------------------------*/

.banner{
	width: 450px;
	max-width: 100%;
}


.btn-success {
    color: #fff;
    background-color: #5c6bb8;
    border-color: #4050a5;
	}

footer{

	width: 770px;
	font: normal 16px Arial, Helvetica, sans-serif;
	padding: 15px 35px;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -420px;

	background-color:#1f1f1f;

	background-image:-webkit-linear-gradient(top, #1f1f1f, #101010);
	background-image:-moz-linear-gradient(top, #1f1f1f, #101010);
	background-image:linear-gradient(top, #1f1f1f, #101010);

	border-radius:2px 2px 0 0;

	box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
	z-index:1;
}

footer a.tz{
	font-weight:normal;
	font-size:16px !important;
	text-decoration:none !important;
	display:block;
	margin-right: 300px;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#bfbfbf !important;
	z-index:1;
}

footer a.tz:before{
	content: '';
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 -53px;
	width: 138px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom: -3px;
}

footer .close{
	position: absolute;
	cursor: pointer;
	width: 8px;
	height: 8px;
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 0px;
	top:10px;
	right:10px;
	z-index: 3;
}

footer #tzine-actions{
	position: absolute;
	top: 8px;
	width: 500px;
	right: 50%;
	margin-right: -650px;
	text-align: right;
	z-index: 2;
}

footer #tzine-actions iframe{
	display: inline-block;
	height: 21px;
	width: 95px;
	position: relative;
	float: left;
	margin-top: 11px;
}
