<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Le Pen Roulette</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% block fb %}{% endblock fb %}




		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />



		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="{% static 'css/style.css'%}" rel="stylesheet" />
	</head>

	<body>

		<header>
			<!-- <h1><span class="green">Le Pen</span> <span class="red">Roulette</span></h1> -->
			<a href="{% url 'home' %}" ><img src="{% static 'img/lepen_logo.png'%}" class="banner" ></a>

			<h2>{{tag_line_1}}</h2>
			{% if tag_line_2 %}
			<h2 class="standingsA">{{tag_line_1_a}}<span class="green">{{total_votes}}</span>{{tag_line_1_b}}</h2>
			<h2 class="standingsB">{{tag_line_2}}</h2>

			{% endif %}
		</header>

		{% block content %}{% endblock %}





		<!-- <footer> -->
            <!-- <a class="tz" href="http://tutorialzine.com/2014/01/nodejs-picture-voting-game-part-1/">Tutorial: Node.js Picture Voting Game</a> -->

	</body>
</html>

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="{% static 'js/script.js'%}"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1519698648048926',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
