{% extends "base.html" %}
{% load staticfiles %}
{% block fb %}
    <meta property="og:image" content="{{ contender_img.image.url }}"/>
    <meta property="og:title" content="Même {{ contender.title }} aurait mon vote contre Marine Le Pen !"/>
{% endblock fb %}

{% block content %}



    <!doctype html>

    <nav>
        <a class="active" href="{% url 'home' %}">Vote</a>
        <a href="{% url 'standings' %}">Classement</a>
    </nav>


    {% if can_vote %}
        <div class="container">
        <div class="row">
            <div class="col-xs-6 lefty">
                <form action="{% url 'vote' vote=le_pen_contender.slug contender=contender.slug %}" method="POST"
                      id="post-form-0"
                      data-url="{% url 'vote' vote=le_pen_contender.slug contender=contender.slug %}">{% csrf_token %}
                    <!-- <input type="hidden" name="vote" value="{{ le_pen_contender.slug }}"/>
                        <input type="hidden" name="contender" value="{{ contender.slug }}"/> -->
                    <input type="image" src="{{ le_pen_img.image.url }}" class="photo photo-left"/>
                </form>
                <h2 class="caption">{{ le_pen_contender.title }}</h2>
            </div>

            <div class="col-xs-6 righty">
                <form action="{% url 'vote' vote=contender.slug contender=contender.slug %}" method="POST"
                      id="post-form-1"
                      data-url="{% url 'vote' vote=contender.slug contender=contender.slug %}">{% csrf_token %}
                    <input type="image" src="{{ contender_img.image.url }}" class="photo photo-right" />
                </form>
                <h2 class="caption">{{ contender.title }}</h2>
            </div>
        </div>

        {% if last_vote %}
        <div class="row">
            <div class="col-xs-12 text-center">
                  <a href="{% url 'standings' %}" >
                    <img src="{% static 'img/btn_suivant.png'%}" ></a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-xs-12 text-center">
                  <a href="{% url 'contender' slug=next_contender %}" >
                    <img src="{% static 'img/btn_suivant.png'%}" ></a>
            </div>
        </div>
        {% endif %}
        <!-- <br></br> -->
        <div class="row">
            <div class="col-xs-12 text-center">
                  <a id="shareBtn" ><img src="{% static 'img/btn_fb.png'%}" ></a>
            </div>
        </div>

          <br></br>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="credits">La Gang 2017 - Fait avec amour à Montréal.</h2>
        </div>

        <!-- <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="btn btn-lg btn-primary" id="shareBtn"><img src="{% static 'img/Btn_suivant.png'%}">/h2>
            </div>
        </div> -->

        <!-- <div class="row">
                <div class="col-xs-6 lefty">
                    <div class="button-holder">
											<form action="{% url 'vote' vote=le_pen_contender.slug contender=contender.slug %}" method="POST" id="post-form-2" data-url="{% url 'vote' vote=le_pen_contender.slug contender=contender.slug %}">{% csrf_token %}
                            <input type="hidden" name="vote" value="{{ le_pen_contender.slug }}"/>
                            <input type="hidden" name="contender" value="{{ contender.slug }}"/>
                            <input type="submit" value="" class="input-right"/>
                        </form>

                    </div>
                </div>
                <div class="col-xs-6 righty">
                    <div class="button-holder">
											<form action="{% url 'vote' vote=contender.slug contender=contender.slug %}" method="POST" id="post-form-3" data-url="{% url 'vote' vote=contender.slug contender=contender.slug %}">{% csrf_token %}
                            <input type="hidden" name="vote" value="{{ contender.slug }}"/>
                            <input type="hidden" name="contender" value="{{ contender.slug }}"/>
                            <input type="submit" value="" class="input-right"/>
                        </form>

                    </div>
                </div>
            </div>
        </div> -->

        <br></br>

    {% else %}
        <h2 class="footer">Tu as épuisé tous tes votes. Découvre le <a href="{% url 'standings' %}">classement actuel</a>.</h2>

    {% endif %}

    <!-- <div id="shareBtn" class="btn btn-success clearfix">PARTAGE FACEBOOK</div> -->

    <script>
        document.getElementById('shareBtn').onclick = function () {
            FB.ui({
                method: 'share',
                display: 'popup',
                href: '{{fb_url}}',

            }, function (response) {
            });
        }

    </script>



{% endblock %}
