{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <!doctype html>

    <!-- <nav>
        <a class="active" href="{% url 'home' %}">Vote</a>
        <a href="{% url 'standings' %}">Classements</a>
    </nav> -->


    {% if can_vote %}
    <header>
      <a href="{% url 'contender' slug=first_contender %}"><img src="{% static 'img/Btn_commence.png'%}" class="banner"></a>
      <h2 class="tagline">C’est pas si difficile de voter contre Le Pen. Lancez la roulette !</h2>
      <!-- <a class="footer" href="{% url 'contender' slug=first_contender %}">Débuts</a> -->
    </header>
    {% else %}
    <h2 class="footer">Tu as épuisé tous tes votes. Découvre le <a href="{% url 'standings' %}">classement actuel</a>.</h2>

    {% endif %}
{% endblock %}
