{% extends "base.html" %}
{% load staticfiles  mathfilters %}


{% block content %}
    <nav>
        <a href="{% url 'home' %}">Vote</a>
        <a class="active" href="{% url 'standings' %}">Classement</a>
    </nav>

    <div class="container results">
        {% for contender in sorted_contender_list %}
            {% if contender.images.all.0.image %}
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="ranking col-xs-6 col-md-12">
                                {{ forloop.counter }}
                            </div>

                            <div class="col-xs-6 col-md-12">
                                <div class="percent">{{ contender.votes }}</div>
																<!-- |mul:100|div:total_votes|floatformat -->
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 card-wrapper">
                        <div class="card">
                            <img src="{{ contender.images.all.0.image.url }}" alt="{{ contender.title }}"/>
                            <h3 class="text">{{ contender.title }}</h3>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
